@charset "utf-8";
/*
 * list2.css 客户端公用样式，所有页面必须引用此样式
 * version: v2.0
 * author: luoronghang
 * date: 2013/08/01
*/

* {
	-webkit-user-select:none; 
	-webkit-tap-highlight-color:rgba(255, 255, 255, 0);
} 
* {	
	margin:0;
	padding:0;
}
body {
	-webkit-text-size-adjust:none;
    font-family:"微软雅黑",Arial, Helvetica, sans-serif;
	color:#333;
	font-size:14px;	
	display: -webkit-box;
    /* We want to layout our first container vertically */
    -webkit-box-orient: vertical;
    /* we want our child elements to stretch to fit the container */
	-webkit-box-align:stretch;
	line-height:1.25em;
	background-color:#f8f8f8;
} /* General styles that apply to elements not contained within other classes and styles */
input,textarea {-webkit-user-select:text;}
section,nav,article,aside,hgroup,header,footer{display:block}
input,textarea,select,button,table{font-size:inherit;font-family:inherit;line-height:inherit}
img,fieldset{border:0}
ul,ol{list-style:none}
i,em,address{font-style:normal}
a{color:inherit;text-decoration:none}
hr{display:none}
legend{display:none}
.show{display:block!important}
.hide{display:none!important}
.fc{text-align:center}
iframe{width:0;height:0;line-height:0;overflow:hidden;}
.bg_bd{background-repeat:repeat;background-size:320px auto;}/* 首页网格背景 */

#ct{width:100%;height:auto;overflow:hidden;}

#ct.ios4_scroll{
	position:absolute; z-index:1;
	top:0; bottom:0; left:0;
	width:100%;
	overflow:auto;
}
#ct.active * {
-webkit-transform:translate3d(0,0,0);
}

/* debuglog */
#debugDiv{width: 100%;color: #fff;text-align: left;padding-bottom: 50px;position:fixed;left:0;bottom:50px;z-index:10000;}
#debugDiv h3{line-height:30px;font-size:14px;background-color:rgb(34, 34, 34);padding-left: 10px;}
#debugDiv .logs{max-height:100px;overflow:scroll;line-height:20px;word-wrap:break-word;background-color:#6f747a;border:5px solid rgb(34, 34, 34);padding:5px;}

